/* Put your CSS here */
html, body {
  margin: 0;
  padding: 0; }

html, body * {
  margin: 0;
  padding: 0; }

#nav {
  background-color: #e7e7e7; }

#top-nav {
  padding: 15px 20px 20px 20px; }

#logo {
  float: left; }
  #logo a {
    text-decoration: none; }

#top-links {
  float: right; }
  #top-links a {
    margin: 0 0 0 10px;
    padding-left: 15px;
    color: #323232;
    border-left: 1px solid #323232; }
    #top-links a.first {
      border: none; }

#menu-nav {
  margin: 20px 0 0;
  border-bottom: 20px solid #94b3c6;
  position: relative; }

#menu-tabs {
  list-style: none;
  float: left;
  padding: 0 20px; }
  #menu-tabs li {
    list-style: none;
    float: left;
    margin: 0 10px 0 0;
    height: 26px; }
    #menu-tabs li a {
      text-decoration: none;
      font-size: 18px;
      color: #646464;
      background-color: #ecf8ff;
      padding: 5px 15px; }
      #menu-tabs li a.active {
        background-color: #94b3c6; }

#upload-btn {
  position: absolute;
  right: 20px;
  top: -5px;
  cursor: pointer;
  padding: 2px 6px;
  color: #fff;
  background-color: #0f6b93;
  border: 2px solid #04344b; }

#main-container {
  background-color: #fff;
  padding: 20px;
  width: 1240px; }

.popup-window-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0px; }
  .popup-window-bg .popup-window {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 50%;
    margin: -40% 0 0 -25%;
    background-color: #fff; }

#view-detail-container {
  float: left;
  width: 300px; }
  #view-detail-container .detail-block {
    border: 1px solid #7792a2;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0; }
    #view-detail-container .detail-block .inner {
      padding: 0 0 0 14px; }
  #view-detail-container h3 {
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    background-color: #7792a2;
    padding: 3px 14px 5px;
    margin: 0 0 10px 0; }
  #view-detail-container h4 {
    font-size: 15px;
    padding: 0 0 1px 14px;
    border-bottom: 1px solid #333;
    display: inline-block;
    margin: 0px 0 10px 0px; }
  #view-detail-container .attributes {
    margin: 0 0 10px 0; }
    #view-detail-container .attributes .attribute {
      padding: 0 0 0 35px; }
      #view-detail-container .attributes .attribute.selected {
        background-color: #e7e7e7; }

#view-container {
  float: right;
  width: 900px; }
  #view-container .tab {
    margin: 0 2px 0 0;
    width: 350px;
    height: 25px;
    background-color: #a4b0b4;
    float: left; }
    #view-container .tab.active {
      background-color: #e0e4e6; }
  #view-container .add-view-btn {
    float: left;
    margin: 0 2px 0 0;
    padding: 0px 6px 0px;
    color: #fff;
    background-color: #a4b0b4;
    font-size: 21px;
    font-weight: bold;
    line-height: 25px;
    cursor: pointer; }
    #view-container .add-view-btn:hover {
      background-color: #7792a2; }
  #view-container .chart-container {
    background-color: #e0e4e6;
    padding: 10px 10px;
    text-align: center; }
  #view-container .chart img {
    max-width: 700px;
    margin: auto; }
  #view-container .filters .filter {
    float: left;
    color: #fff;
    background-color: #a4b0b4;
    margin: 0 0 0 10px;
    padding: 5px 10px;
    cursor: pointer; }
    #view-container .filters .filter:hover {
      background-color: #7792a2; }
