/* Put your CSS here */
html, body {
  margin: 0;
  padding: 0; }

html, body * {
  margin: 0;
  padding: 0; }

#nav {
  background-color: #e7e7e7; }

#top-nav {
  padding: 15px 20px 20px 20px; }

#logo {
  float: left; }
  #logo a {
    text-decoration: none; }

#top-links {
  float: right; }
  #top-links a {
    margin: 0 0 0 10px;
    padding-left: 15px;
    color: #323232;
    border-left: 1px solid #323232; }
    #top-links a.first {
      border: none; }

#menu-nav {
  margin: 20px 0 0;
  border-bottom: 20px solid #94b3c6;
  position: relative; }

#menu-tabs {
  list-style: none;
  float: left;
  padding: 0 20px; }
  #menu-tabs li {
    list-style: none;
    float: left;
    margin: 0 -18px 0 0;
    height: 30px; }
    #menu-tabs li a .title {
      float: left;
      z-index: 1;
      position: relative;
      text-decoration: none;
      font-size: 18px;
      color: #646464;
      background-color: #ecf8ff;
      padding: 5px 15px; }
    #menu-tabs li a .corner {
      background: url(../img/sprite.png) no-repeat;
      background-position: -223px -4px;
      width: 35px;
      height: 30px;
      display: inline-block;
      z-index: 10;
      position: relative; }
    #menu-tabs li a.active .title {
      background-color: #94b3c6; }
    #menu-tabs li a.active .corner {
      background-position: -175px -4px; }

#upload-btn {
  position: absolute;
  right: 20px;
  top: -5px;
  cursor: pointer;
  padding: 2px 6px;
  color: #fff;
  background-color: #0f6b93;
  border: 2px solid #04344b; }

#main-container {
  background-color: #fff;
  padding: 20px;
  width: 1240px; }

.popup-window-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: corbel; }
  .popup-window-bg .popup-window {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: 340px;
    margin: -195px 0 0 -170px;
    background-color: #fff; }

.popup-window-header {
  background-color: #6c6c6c;
  color: #fff;
  font-size: 14px;
  padding-left: 14px; }

.popup-window-body {
  margin: 14px 14px 6px 14px;
  font-size: 13px; }
  .popup-window-body .popup-window-nav {
    margin-bottom: 0px;
    border-bottom: 1px solid #6c6c6c; }
  .popup-window-body .tab-content-padding {
    padding: 14px 20px 20px 20px; }
  .popup-window-body .tab-content-border {
    border: 1px solid #6c6c6c;
    border-top-color: transparent;
    border-radius: 0 0 4px 4px; }
  .popup-window-body li > a {
    padding: 2px 4px 2px 4px;
    background-color: #6c6c6c;
    color: #fff; }
    .popup-window-body li > a:hover {
      background-color: #fff;
      border-color: #000;
      color: #000; }
  .popup-window-body li.active > a, .popup-window-body li.active > a:hover {
    border-color: #6c6c6c;
    border-bottom-color: transparent;
    background-color: #fff;
    color: #000; }
  .popup-window-body .btn-popup {
    background-color: #6c6c6c;
    border: 1px solid #000;
    font-size: 12px;
    color: #fff;
    width: 50px;
    margin-right: 10px; }
  .popup-window-body .field-block {
    margin-bottom: 20px; }
  .popup-window-body label, .popup-window-body input, .popup-window-body button, .popup-window-body select, .popup-window-body textarea {
    font-size: 12px; }
  .popup-window-body .input-filter {
    width: 100px;
    height: 10px;
    background-color: #9c9c9c;
    border-radius: 0; }
    .popup-window-body .input-filter:-moz-placeholder {
      color: #3c3c3c; }
    .popup-window-body .input-filter:-ms-input-placeholder {
      color: #3c3c3c; }
    .popup-window-body .input-filter::-webkit-input-placeholder {
      color: #3c3c3c; }
  .popup-window-body .select {
    width: 90px;
    height: 19px;
    background-color: #9da2a4; }
  .popup-window-body .border-box {
    border: 1px solid #9c9c9c;
    padding: 10px 5px 10px 5px; }

.popup-window-footer {
  margin: 14px 14px 14px 14px; }
  .popup-window-footer .btn-popup a {
    background-color: #4a4a4a;
    border: 2px solid #7f7f7f;
    font-size: 14px;
    color: #fff;
    width: 60px;
    display: inline-block;
    text-decoration: none; }
  .popup-window-footer .pull-right {
    margin-left: 10px; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.clear {
  clear: both; }

#view-detail-container {
  float: left;
  width: 300px; }
  #view-detail-container .detail-block {
    border: 1px solid #7792a2;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0; }
    #view-detail-container .detail-block .inner {
      padding: 0 0 0 14px; }
  #view-detail-container h3 {
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    background-color: #7792a2;
    padding: 3px 14px 5px;
    margin: 0 0 10px 0; }
  #view-detail-container h4 {
    font-size: 15px;
    padding: 0 0 1px 14px;
    border-bottom: 1px solid #333;
    display: inline-block;
    margin: 0px 0 10px 0px; }
  #view-detail-container .attributes {
    margin: 0 0 10px 0; }
    #view-detail-container .attributes .attribute {
      padding: 0 0 0 35px; }
      #view-detail-container .attributes .attribute.selected {
        background-color: #e7e7e7; }

#view-container {
  float: right;
  width: 900px; }
  #view-container .tab {
    margin: 0 2px 0 0;
    width: 350px;
    height: 25px;
    background-color: #a4b0b4;
    float: left; }
    #view-container .tab.active {
      background-color: #e0e4e6; }
  #view-container .add-view-btn {
    float: left;
    margin: 0 2px 0 0; }
    #view-container .add-view-btn a {
      color: #fff;
      text-decoration: none;
      padding: 0px 6px 0px;
      background-color: #a4b0b4;
      font-size: 21px;
      font-weight: bold;
      line-height: 25px;
      cursor: pointer; }
      #view-container .add-view-btn a:hover {
        background-color: #7792a2; }
  #view-container .chart-container {
    background-color: #e0e4e6;
    padding: 10px 10px;
    text-align: center; }
  #view-container .chart {
    margin: 0 0 10px 0; }
    #view-container .chart img {
      max-width: 700px;
      margin: auto; }
  #view-container .filters .filter {
    float: left; }
    #view-container .filters .filter a {
      color: #fff;
      background-color: #a4b0b4;
      margin: 0 0 0 10px;
      padding: 5px 10px;
      cursor: pointer;
      text-decoration: none; }
      #view-container .filters .filter a:hover {
        background-color: #7792a2; }

#create-view-container h2 {
  color: #fff;
  background-color: #4f6b7d;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  padding: 0 10px 2px; }
#create-view-container .step {
  border: 1px solid #4f6b7d; }
#create-view-container h3 {
  color: #000;
  background-color: #7792a2;
  font-size: 14px;
  font-weight: normal;
  line-height: 23px;
  padding: 0 10px 2px; }
#create-view-container .sub-step {
  float: left;
  border: 1px solid #7792a2;
  margin: 20px;
  width: 575px;
  height: 300px; }
  #create-view-container .sub-step .inner {
    margin: 20px 30px; }
#create-view-container .options {
  float: left;
  background-color: #9da2a4;
  width: 200px;
  height: 200px;
  padding: 10px 0; }
  #create-view-container .options .option {
    color: #fff;
    padding: 0 0 0 10px; }
    #create-view-container .options .option:hover {
      background-color: #169ca1; }
#create-view-container .right-arrow {
  float: left;
  background: url(../img/sprite.png);
  background-position: -266px 0;
  width: 27px;
  height: 43px;
  margin: 80px 30px 0 40px; }
#create-view-container .radio-input {
  float: left;
  margin: 0 20px 0 0; }
  #create-view-container .radio-input input {
    float: left; }
  #create-view-container .radio-input span {
    float: left;
    margin: 0 0 0 5px; }

#chart-multiview {
  width: 100%;
  height: 425px; }

#timeframe-container {
  border: 1px solid #000;
  border-radius: 6px;
  padding: 4px 6px 6px 6px; }

ul.none-style {
  list-style: none; }

ul.content-indent li {
  margin-left: 20px; }
  ul.content-indent li:first-child {
    margin-left: 0px;
    font-weight: bold; }

.li-datepicker {
  width: 100px;
  float: left; }
  .li-datepicker input[type=text] {
    background-color: #9da2a4;
    height: 10px; }
