/* Put your CSS here */
html, body {
  margin: 0;
  padding: 0;
}

html, body * {
  margin: 0;
  padding: 0;
}

#logo {
  float: left;
}

#top-links {
  float: right;
  a {
    margin: 0 0 0 10px;
  }
}

#menu-nav {
  margin: 20px 0 0;
}

#menu-tabs {
  list-style: none;
  float: left;
  
  li {
    list-style: none;
    float: left;
    margin: 0 20px 0 0;
  }
}

#upload-btn {
  float: right;
}