<div class="popup-window-bg">
  <div id="filter-window" class="popup-window">
  	
  	<div class="popup-window-header">Set Filters</div>
  	<div class="popup-window-body">
  		<div class="tabbable">
  			<ul id="tabs" class="nav nav-tabs popup-window-nav">
    			<li class="active"><a href="#multiview-filter-general" data-toggle="tab">General</a></li>
    			<li><a href="#multiview-filter-condition" data-toggle="tab">Condition</a></li>
    			<li><a href="#multiview-filter-formula" data-toggle="tab">Formula</a></li>
  			</ul>
  			<div class="tab-content tab-content-border tab-content-padding">
    			<div class="tab-pane active" id="multiview-filter-general">
      				<form>
  						<fieldset>
  							<div class="field-block">
    							<label class="radio">
      								<input type="radio" name="filterOptionsRadios" value=""> Include
    							</label>
    							<label class="radio">
      								<input type="radio" name="filterOptionsRadios" value=""> Exclude
    							</label>
    						</div>
    						
    						<div class="field-block">
    							<button class="btn-popup" id="multiview-filter-btn-all">All</button>
    							<button class="btn-popup" id="multiview-filter-btn-none">None</button>
    						</div>

    						<div class="field-block" style="margin-left:20px;">
    							<label class="checkbox">
  									<input type="checkbox" value="">
  								Kitchenware
								</label>
								<label class="checkbox">
  									<input type="checkbox" value="">
  								Office Supplies
								</label>
								<label class="checkbox">
  									<input type="checkbox" value="">
  								Computer Peripherals
								</label>
								<label class="checkbox">
  									<input type="checkbox" value="">
  								Furniture
								</label>
								<label class="checkbox">
  									<input type="checkbox" value="">
  								Home Appliance
								</label>
								<label class="checkbox">
  									<input type="checkbox" value="">
  								Auto Parts
								</label>
							</div>

  						</fieldset>
					</form>
    			</div>
    			<div class="tab-pane" id="multiview-filter-condition">
      				<p>I'm in Section 2.</p>
    			</div>
    			<div class="tab-pane" id="multiview-filter-formula">
      				<p>I'm in Section 3.</p>
    			</div>
  			</div>
		</div>
	</div>
	<div class="popup-window-footer">
		<button class="btn-popup"><a>Reset</a></button>
		<button type="submit" class="btn-popup pull-right">{{#linkTo "multiview"}}Confirm{{/linkTo}}</button>
		<button class="btn-popup pull-right">{{#linkTo "multiview"}}Cancel{{/linkTo}}</button>
	</div>
  </div>
</div>