<div id="create-view-container">
  <section class="step clearfix">
    <h2>Create your view</h2>
    <div class="sub-step">
      <h3>(1) Select up to 3 dimensions</h3>
      
      <div class="inner clearfix">
        <div class="options">
          <div class="option">Age</div>
          <div class="option">Gender</div>
          <div class="option">Income</div>
        </div>
        <div class="right-arrow"></div>
        <div class="selected-options options">
          <div class="option">Income</div>
          <div class="option">Region</div>
        </div>
      </div>
    </div>
    
    <div class="sub-step">
      <h3>(2) Choose the measure you want to see</h3>
      
      <form class="inner">
        <div class="clearfix">
          <div class="radio-input clearfix">
            <input type="radio" name="measure" value="revenue">
            <span>Revenue</span>
          </div>
          <div class="radio-input">
            <input type="radio" name="measure" value="cost">
            <span>Cost</span>
          </div>
          <div class="radio-input">
            <input type="radio" name="measure" value="forecast">
            <span>Forecast</span>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>